<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{question}}</h1>
    <form method="post" action="/home">
                        <!-- email -->
        <div>
            <label>answer</label>
            <div>
                <input type="text"  name="answer" id="answer" required>
            </div>
        </div>
                        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
</body>
</html>